body {
    width: 414px;
    height: 949px;
    background-color: #E5E5E5;
}

/*Parta de Cima do App*/
.topo {
    width: 414px;
    height: 92px;
    background-color: #CF2B2B;
    display: flex;
    flex-direction: column;
    box-shadow: inherit;
    box-shadow: -4px 0px 5px 3px grey;
    position: fixed;
    top: 0;
    z-index: 2;
}

.titulo {
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 55px;
    color: white;
    margin-left: 21px;
    margin-top: 8px;
    height: 44px;
    margin-bottom: 5px;
}

.subtitulo {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: white;
    margin-left: 21px;
    height: 17px;
}

/*---------------------------------------------*/
/*Corpo do App com os pedidos*/
.corpo {
    width: 100%;
    height: 842px;
    background-color: #E5E5E5;
    margin-top: 123px;
}

.topico_pratos {
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;
    margin-top: 24px;
    margin-bottom: 17px;
    margin-left: 21px;
    height: 25px;
}

.selecao_pratos {
    width: 100%;
    height: 225px;
    background-color: #E5E5E5;
    display: flex;
    overflow-x: scroll;
}

.pratos {
    width: 172px;
    height: 206px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 16px;
    border-radius: 9px;
    box-shadow: 0px 0px 6px 3px gainsboro;
    border: 5px solid white;
    padding-left: 9px;
    padding-right: 9px;
    position: relative;
    z-index: 1;
}
.borda_verde{
    border: 5px solid #32B72F;
}
.icone {
    position: absolute;
    z-index: 2;
    top: 180px;
    left: 139px;
    font-size: 19px;
    display: flex;
    color: #32B72F;
}

.canto {
    margin-right: 19px;
}

.imagem {
    width: 144px;
    height: 87px;
    margin-bottom: 8px;
    border-radius: 4px;
}

.nome_do_prato {
    width: 144px;
    height: 23px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 4px;
    color: black;
}

.descricao {
    width: 144px;
    height: 39px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #A6A6A6;
    margin-bottom: 5px;
}

.valor {
    width: 144px;
    height: 19px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: black;
}

/*---------------------------------------------*/
/*Botão de Confirmação de pedido*/
.rodape {
    width: 414px;
    height: 92px;
    background-color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    position: fixed;
    bottom: 0;
    z-index: 1;
}

.caixa_de_texto {
    width: 364px;
    height: 61px;
    background-color: #CBCBCB;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    padding: 6px;
    box-sizing: border-box;
}

.texto_rodape {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
::-webkit-scrollbar{
    display: none;
}